* {
  box-sizing: border-box;
}

.img {
  height: 200px;
}

.info {
  width: 300px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.info-item {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  margin-top: -5px;
  margin-left: -5px;
}

.photo-card {
  flex-basis: calc(100% / 4 - 10px);
  margin-top: 5px;
  margin-left: 5px;
}

.load-more {
  display: block;
  margin-top: 20px;
  align-items: center;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.search-form {
  background-color: rgb(73, 110, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
}

.input {
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #faf7f7;
  border-radius: 2px;
  margin-right: 5px;
}

.input:focus {
  border: 1px solid royalblue;
  outline: 1px royalblue;
  border-radius: 3px;
}

.icon-search:focus {
  border: 1px solid royalblue;
  outline: 1px royalblue;
  border-radius: 3px;
}

.search {
  width: 40px;
  height: 40px;
  padding: 0;
}

.icon-search {
  width: 20px;
  height: 20px;
  fill: gray;
}
